.modal-dialog .modal-content {
  border: 0;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;

  .modal-header {
    display: flex;
    align-items: center;
    background: linear-gradient(261.43deg, #6b95e3 0%, #6784d0 100%);
    padding: 2rem 3rem;

    .popup-title {
      margin: 0;
      font-size: 22px;
      line-height: 31px;
      color: #ffffff;
    }

    .close {
      font-size: 3.5rem;
      font-weight: 100;
      color: rgb(255, 255, 255);
      text-shadow: none;
      opacity: 1;

      &:hover {
        color: rgb(187, 187, 187);
      }
    }
  }

  .modal-body {
    padding: 50px 50px 30px 50px;
    position: relative;

    .form-popup {
      display: flex;

      .input-select-popup {
        display: flex;
        flex-grow: 2;
        border: 1px solid #dbdbdb;
        padding: 5px;
        border-radius: 3px;
        width: fit-content;
        margin-right: 9px;

        &.warning {
          background-color: rgb(252, 209, 209);
          border: 1px solid rgb(253, 128, 128);
          box-shadow: 0 14px 28px rgba(247, 174, 174, 0.25), 0 10px 10px rgba(253, 173, 173, 0.22);
        }

        .input-popup {
          background: url("./Union.svg") no-repeat;
          background-position-x: 14px;
          background-position-y: center;
          padding-left: 40px;
          appearance: none;
          border: 0;
          outline: 0;
          flex-grow: 2;
          font-size: 13px;
          line-height: 18px;
          color: #666666;

          &::-webkit-input-placeholder {
            color: #a8a7a7;
          }
        }
      }
    }

    .list-popup {
      height: 150px;
      overflow: auto;
      margin-top: 15px;
      padding-right: 20px;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f7f7f7;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #d9d9d9;
      }
    }
  }

  .modal-footer {
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 30px 50px;

    .footer-text {
      margin: 0;
      font-size: 13px;
      line-height: 18px;
      color: #000000;
      flex-grow: 2;
    }

    .select-popup {
      &--footer {
        border: 1px solid #dbdbdb;
        border-radius: 3px;
      }
    }
  }

  .select-popup {
    background: url("./Line.svg") no-repeat;
    background-position-x: 82%;
    background-position-y: center;
    appearance: none;
    -webkit-appearance: none;
    padding: 14px 37px 14px 17px;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #757575;
    border: 0;
    outline: 0;
    border-left: 1px solid #dbdbdb;
  }

  .btn-popup {
    border: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background: #658cd3;
    border-radius: 2.81458px;
    width: 160px;
    padding: 14px 0;
  }

  .warning-message {
    position: absolute;
    color: #666666;
    background-color: rgb(255, 184, 184);
    border: 1px solid rgb(168, 68, 68);
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 12px;
    top: 0;
    left: 0;
  }
}
